<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs', { title: title }); -%>

<body>
    <%- include('partials/nav.ejs'); -%>

    <!--DELETE THIS AARON - INSERT REQUIREMENTS USING HTML FOR YOUR HOME PAGE - CALL TO ACTION, YOUR ROLE + NAME-->
    
    <%- include('partials/footer.ejs'); -%>

</body>
</html>